<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MaxIds_DuplicateNPLEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.16.18;initial catalog=maxids_uat_v4;persist security info=True;user id=maxadmin;password=Admin#123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ClientName" value="idsuat1" />
    <!--Cloud watch log is kept in config as this will help during db connection issues-->
    <add key="Environment" value="Dev"/>
    <add key="LogToCloudWatch" value="1"/>
    <add key="CloudWatchLogGroup" value="MaxIDSPAIRSYNC"/>
    <add key="NLogConfigPath" value="E:\Shared drives\PE-Packages\Others\MaxvalLogV2\Nlog.config"/>
    <add key="ErrorFilePath" value="E:\Shared drives\PE-Packages\Others\MaxvalLogV2\ErrorDetails.json"/>
    <!--Cloud watch config end-->
  </appSettings>
</configuration>